<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="./style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script src="./node_modules/qrious/dist/qrious.js"></script>

        <title>QRcode Generator</title>
    </head>

    <body>
        <div id="app">
            <h1>{{ title }}</h1>
            <input type="text" v-model="data" placeholder="Insira seu texto">
            <div v-if="data">
                <img :src="generateQRcode" alt="QRCode image">
                <a download="qrcode" :href="generateQRcode">Download</a>
            </div>
        </div>

        <script>
            new Vue({
                el: '#app',
                data: {
                    title: 'QRcode Generator',
                    data: '',
                    qrcode: new QRious()
                },
                computed: {
                    generateQRcode() {
                        this.qrcode.size = 300
                        this.qrcode.value = this.data
                        this.qrcode.background = 'ghostwhite'
                        return this.qrcode.toDataURL()
                    }
                }
            })
        </script>
    </body>
</html>